/* INICIO FOOTER */

footer{
    @extend .flexCenter;
    background: $primary-color;
    padding: 50px;

        @include xs{
            flex-direction: column;
            padding: 20px;
        }

        @include sm{
            flex-direction: column;
            padding: 20px; 
        }

        .redes {

            img{
                width: 100px;
                height: 60px;
            }

            .footer-redes{
                @extend .flexCenter;
                border: 1px solid $light_color;
                width: 100px;
            }

            p{
                color: $light_color;
            }

            i{
                font-size: 20px;
                padding: 10px;
                width: 55px;
                text-align: center;
                border: 1px solid $light_color;
                color: $light_color;
                margin-top: 10px;

                &:hover{
                    color: gray;
                    transform: scale(0.7);
                }

            }

        }

        .footer-cards{
            width: 25%;
            padding: 10px;

            @include xs{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
            }

            @include sm{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
            }

            input{
                margin-top: 5px;
            }

            p{
                color: $light_color;
                margin-top: 5px;

                &:hover{
                    color: gray;
                    cursor: pointer;
                }

            }

        }

        h2{
            color: $light_color;
            margin-bottom: 10px;

            @include xs{
                margin-top: 10px;
                margin-bottom: 0px;
            }

            @include sm{
                margin-top: 10px;
                margin-bottom: 0px;
            }

        }

        .subscribe h2{
            
            @include xs{
                font-size: 20px;
            }

            @include sm{
                font-size: 20px;
            }
            
        }

}

/* FIM FOOTER */